<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992563384655-fp0vfe102ko3bdlufbhs8cr3qi3225p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992563384655-fp0vfe102ko3bdlufbhs8cr3qi3225p4</string>
	<key>API_KEY</key>
	<string>AIzaSyAvBlaUe2UqXqSybP7fX7lePdskogy15Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>992563384655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sa.aait.shopping.shopping</string>
	<key>PROJECT_ID</key>
	<string>shopping-f2b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-f2b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992563384655:ios:2b491bb5a29d117c8b753a</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-f2b5f.firebaseio.com</string>
</dict>
</plist>